body{
    padding: 0;
    margin: 0;
}
#home{
    background-image: url(jack.gif);
    background-size: cover;
    width:103%;
    margin-left: -25px;
    margin-top: -20px;
    height:950px;
}

@import url('https://fonts.googleapis.com/css?family=Chewy');


body:before {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 width: 0;
 height: 0;
 margin: auto;
 border-radius: 100%;
 background: transparent;
 display: block;
 box-shadow: 0 0 150px 100px rgba(255, 255, 255, .6),
 200px 0 200px 150px rgba(255, 255, 255, .6),
 -250px 0 300px 150px rgba(255, 255, 255, .6),
 550px 0 300px 200px rgba(255, 255, 255, .6),
 -550px 0 300px 200px rgba(255, 255, 255, .6);
}
h1 {
 
margin-top: 250px;
 height: 100px;
 display: block;
 -webkit-animation: bounce .3s ease infinite alternate;
 font-family: 'Chewy', cursive;
 font-size: 80px;
 color: #FFF;
 text-align: center;
 line-height: 100px;
}


}
.css3-notification {
	font-size: .8em;
	text-align: center;
	padding: 10px;
	background-color: #111;
	color: #fff;
	box-shadow:	0px 1px 3px 0px rgba(0, 0, 0, .3);
	text-transform: uppercase;
	position: relative;
	font-weight: bold;
	-webkit-animation: bounce 1.2s ease-out;
	-moz-animation: bounce 800ms ease-out;
	-o-animation: bounce 800ms ease-out;
	animation: bounce 1.2s ease-out;
}
.word1{
    padding-right: 20px;
    margin-left: -10px;
}
.wer{
    display: none;
}


*
            body {
                background-color: #000;
            }
            .fly-in-text {
                list-style: none;
                position: absolute;
                transform: translateX(-50%) translateY(-50%);
                text-align: center;
                margin-left: 0px;
                margin-top:350px;
                width:600px;
            }
            .fly-in-text li {
                display: inline-block;
                margin-right: 0px;
                font-family: Open Sans, Arial;
                font-weight: 300;
                font-size: 1em;
                color: #fff;
                opacity: 1;
                transition: all 2.5s ease;
            }
            .fly-in-text li:last-child {
                margin-right: 0;
            }
            .fly-in-text.hidden li {
                opacity: 0;
            }
           
.ben{
    margin: auto;
    margin-top: -130px;
    border-radius: 50%;
    width:400px;

}



.fa{
    transition: transform .2s;
}
.fa:hover {
  transform: scale(1.5);
  
  
}
.fa:hover {
    transition: transform 1s;
  transform: rotate(360deg);
  
  
}
.p{
    margin-bottom: -10px;
}
.ben1{
    width:70%;
    opacity:0.999;
    border-radius:50%;
    margin-top:20px;
    transition: transform .2s;
}
.ben1:hover{
    opacity: 0.9999;
    transform: scale(1.5);
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.swap-on-hover {
  position: relative;	
	margin:  0 auto;
	max-width: 400px;
}

/* Select the image and make it absolute to the container */
.swap-on-hover img {
  position: absolute;
  top:0;
  left:0;
	overflow: hidden;
	/* Sets the width and height for the images*/
	width: 330px;
	height: 330px;
    border-radius: 50%;
    margin-left: -150px;
    margin-top: -140px;
}

/* 
	We set z-index to be higher than the back image, so it's alwyas on the front.

We give it an opacity leaner to .25s, that way when we hover we will get a nice fading effect. 
*/
.swap-on-hover .swap-on-hover__front-image {
  z-index: 9999;
  transition: opacity .5s linear;
  cursor: pointer;
}

/* When we hover the figure element, the block with .swap-on-hover, we want to use > so the front-image is going to have opacity of 0, which means it will be hidden, to the back image will show */
.swap-on-hover:hover > .swap-on-hover__front-image{
  opacity: 0;
}


 
            * {
                margin: 0;
                padding: 0;
            }
            body {
                background-color: #000;
            }
            .fly-in-text {
                list-style: none;
                position: absolute;
                left: 53.5%;
                top: -10%;
                transform: translateX(-50%) translateY(-50%);
                margin-top: 600px;
                
            }
            .fly-in-text li {
                display: inline-block;
                margin-right: -10px;
                font-family: Open Sans, Arial;
                font-weight: 300;
                font-size: 50px;;
                color: #fff;
                opacity: 1;
                transition: all 2.5s ease;
            }
            .fly-in-text li:last-child {
                margin-right: 0;
            }
            .fly-in-text.hidden li {
                opacity: 0;
            }
            .fly-in-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
            .fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
            .fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
            .fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
            .fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
            .fly-in-text.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
            .fly-in-text.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }
            .fly-in-text.hidden li:nth-child(8) { transform: translateX(-150px) translateY(-80px); }
            .fly-in-text.hidden li:nth-child(9) { transform: translateX(10px) translateY(-200px); }
            .fly-in-text.hidden li:nth-child(10) { transform: translateX(-300px) translateY(200px); }
            .fly-in-text.hidden li:nth-child(11) { transform: translateX(20px) translateY(100px); }

.hidden{
    color:black;
}
         
